@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importing 'Cinzel', 'Cormorant Garamond', and 'Roboto' from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond&family=Roboto&display=swap");

:root {
  --gradient-start-color: #e7ab7a; /* Adjust this to your desired starting color */
  --gradient-end-color: #f4e3cc;   /* Adjust this to your desired ending color */
}

html {
  background: linear-gradient(
    to bottom,
    var(--gradient-start-color),
    var(--gradient-end-color),
    var(--gradient-start-color) 0%,   /* Start color begins at the top (0%) */
    var(--gradient-start-color) 60%,  /* Start color continues until halfway down (50%) */
    var(--gradient-end-color) 95%,    /* End color begins halfway down (50%) */
    var(--gradient-end-color) 100%    /* End color continues to the bottom (100%) */
  );
  min-height: 100vh; /* Ensure the html element always takes up at least the full height of the viewport */
}

body {
  background: none; /* Remove any background from the body */
}

/* Dark mode styles */
.dark html {
  --gradient-start-color: black; /* Adjust this to your desired starting color for dark mode */
  --gradient-end-color: black;   /* Adjust this to your desired ending color for dark mode */
}
